parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter

search:
	components:
	    in: %appDir%/Components
	    classes:
	        - *Factory

	forms:
		in: %appDir%/Forms
		classes:
		    - *Factory
	model:
	    in: %appDir%/Model
	    classes:
	        - *Facade
